body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-image: url('/new_static/images/bg.jpg');
}

.container {
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
}

table {
    margin: 20px auto;
}

table tr {
    padding: 10px;
    font-size: 20px;
}

table td {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}

input[type="text"] {
    width: 250px;
    padding: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #ccc;
}

input[type="submit"] {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#result p {
    font-size: 20px;
    margin-top: 20px;
    padding: 12px 30px; 
    border-radius: 6px;
    margin-bottom: 0; 
}

#result .legit {
    background-color: #5cb85c; 
    color: #fff;
}

#result .fraud {
    background-color: #d9534f; 
    color: #fff;
}